{% extends "base.html" %}

{% block title %}Lista de Funcionarios{% endblock %}

{% block content %}
<h1 class="mb-4">Funcionarios</h1>
<a href="{{ url_for('vendas.adicionar_funcionario') }}" class="btn btn-primary mb-3">Adicionar Novo Funcionario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Cargo</th>
            <th>Salario</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.email }}</td>
            <td>{{ funcionario.telefone }}</td>
            <td>{{ funcionario.cargo }}</td>
            <td>R$ {{ funcionario.salario | round(2) }}</td>
            <td>
                <form action="{{ url_for('vendas.excluir_funcionario', id=funcionario.id) }}" method="POST"
                    style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Tem certeza que deseja excluir este funcionario?');">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}